html{
  height: 100%;
}
body{
  height: 100%;
  background: linear-gradient(white, rgb(187, 224, 237));/*background グラデーション*/
}
*
{
  margin: 0px;
  padding: 0px;
}
.container{
  width: 100%;
  height: 100%;
}
.header{
  width: 100%;
  height: 10%;
  background-color:#3b5998;/*http://www.color-hex.com/color-palette/185*/
}
.header-left{
  width: 50%;
  height: 100%;
  float: left;
}
.header-left h1{
  text-align: center;
  font-size: 40px;
  margin-top: 5px;
  color: white;
}
.black{
  font-size:8px;
  display: inline;
  margin: 0;
}
.blue{
  font-size: 10px;
  color: blue;
  display: inline;
  margin: 0;
}
.header-right{
  width: 50%;
  height: 100%;
  float: left;
}
.header-right a{
  color: white;
}
.header-right table{
  width: 100%;
}
.header-right td{
  float: left;
  width: 28%;
  margin-right: 10px;
}
.header-right input{
  width: 100%;
  height: 28px;
  border-radius: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #999;
  padding-left: 5px;
}
.header-right button{
  height: 32px;
  border: 1px solid #999;
  background-color: skyblue;
  border-radius: 5px;
  -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 3px;   /* Firefox用 */
}

.main{
  width: 80%;
  height: 90%;
}
.main-left{
  width: 50%;
  height: 100%;
  float: left;
  background-repeat:no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.main-left img{
  left: 50%;
  min-height: 80%;
  min-width: 70%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-right{
  width: 50%;
  height: 100%;
  float: left;
}
.main-right h2{
  margin: 0;
}
.main-right table{
  height: 60%;
  width: 70%;
}
.main-right td{
}
.main-right input[type=text] {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;   /* Firefox用 */
  border: 1px solid #999;
  padding-left: 5px;
}
.main-right input[type=password] {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #999;
  padding-left: 5px;
}
.main-right h1{
  margin-top: 10px;
  margin-bottom: 0;
}
.main-right h2{
  font-size: 18px;
}
.main-right button{
  width: 100%;
  height: 32px;
  border: 1px solid #999;
  background-color: #28a371;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: white;
}

.footer{
  height: 10%;
  width: 100%;
  background-color: white;
}
.footer a{
  color: blue;
}
.footer table{
  width: 60%;
}
.footer td{
  font-size: 10px;
}

/* ウィンドウ幅が0〜500pxの場合に適用するCSS */
@media screen and ( max-width:500px )
{
  .header-left{
    width: 100%;
    height: auto;
    float: left;
  }
  .header-left h1{
    font-size: 18px;
    margin-top: 18px;
  }
  .header-right{
    width: 100%;
    background-color:#3b5998;/*http://www.color-hex.com/color-palette/185*/
  }
  .header-right tr{
    width: 100%;
  }
  .header-right td{
    font-size: 8px;
    margin-right: 5px;
    width: 100%;
  }
  .header-right a{
    color: black;
  }
  .header-right table{
    width: 100%;
  }
  .header-right input{
    width: 100%;
    height: 28px;
    border-radius: 3px;
    -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 3px;   /* Firefox用 */
    border: 1px solid #999;
    padding-left: 5px;
  }
  .header-right button{
    height: 32px;
    border: 1px solid #999;
    background-color: skyblue;
    border-radius: 3px;
    -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 3px;   /* Firefox用 */
  }
  .main{
    width: 100%;
    height: 80%;
  }
  .main-left{
    width: 100%;
    height: 100%;
    float: left;
    /*背景画像*/
    background-repeat:no-repeat;　/*背景画像を繰り返さない*/
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  /*背景画像を親のサイズに合わせる*/
  .main-left img{
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .main-right{
    width: 50%;
    height: 100%;
    float: left;
  }
  .main-right h2{
    margin: 0;
  }
  .main-right table{
    height: 100%;
    width: 70%;
  }
  .main-right td{
  }
  .main-right input[type=text] {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #999;
    padding-left: 5px;
  }
  .main-right input[type=password] {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #999;
    padding-left: 5px;
  }
  .main-right h1{
    margin-top: 10px;
    margin-bottom: 0;
  }
  .main-right h2{
    font-size: 18px;
  }
  .main-right button{
    width: 100%;
    height: 32px;
    border: 1px solid #999;
    background-color: #28a371;
    border-radius: 3px;
    -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 3px;   /* Firefox用 */
    color: white;
  }
  .black{
    font-size:8px;
    display: inline;
    margin: 0;
  }
  .blue{
    font-size: 10px;
    color: blue;
    display: inline;
    margin: 0;
  }

  .footer{
    height: 10%;
    width: 100%;
    background-color: white;
    font-size: 50px;
  }
  .footer a{
    color: blue;
  }
